* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 5px 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.1;
    border-bottom: 1px solid;
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 100%, 0.5);
}

/* navbar */
ul {
    display: flex;
    gap: 1em;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
